// general
@import "libs/normalize.scss";
@import "fonts.scss";
@import "mixins/mixins.scss";
@import "ds-system/ds.scss";
@import "visually-hidden.scss";
@import "scaffolding.scss";

// layout
@import "layout/main.scss";
@import "layout/content.scss";
@import "layout/sheet.scss";
@import "layout/container.scss";
@import "layout/layout.scss";
@import "layout/layout-form.scss";

// blocks
@import "blocks/icon.scss";
@import "blocks/logo.scss";
@import "blocks/close.scss";
@import "blocks/title.scss";
@import "blocks/dough.scss";
@import "blocks/diameter.scss";
@import "blocks/product.scss";
@import "blocks/footer.scss";
@import "blocks/tel-form.scss";
@import "blocks/header.scss";
@import "blocks/layout.scss";
